# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# No bower components
bower_components

# Ignore build directories
dist

# Users Environment Variables
.lock-wscript
.idea
